nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 24px;
  z-index: 1;
  right: 0;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropbtn {
  border: 2px solid #537fbe;
  background-color: #f8f9fa;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
}

.dropbtn:hover {
  background-color: #537fbe; /* Green */
  color: white;
}

.jumbotron
{
margin-bottom: 0px !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    margin-right: -20px;
    margin-left: 0;
}



#container {
  width: 600px;
  height: auto;
}

.row1 {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #AFAFAF;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.score {
  position: relative;
  display: inline-block;
  width: 25%;
}

.row1:nth-child(1) {
  background: gold;
}

.row1:nth-child(2) {
  background: #c0c0c0;
}

.row1:nth-child(3) {
  background: #cd7f32;
}